.steps {
  padding: 90px 0 75px;
  overflow: hidden;

  @media (max-width: $md) {
    padding-top: 0;
  }

  @media (max-width: $xs) {
    padding-bottom: 106px;
  }

  &__flex {
    display: flex;
    justify-content: space-between;
    margin-top: 44px;

    @media (max-width: $sm) {
      margin-top: 0;
      flex-direction: column;
      align-items: center;
    }
  }

  &__note {
    margin-top: 73px;
    font-weight: bold;
    font-size: 28px;
    line-height: 33px;
    text-align: center;
    letter-spacing: 0.01em;
    color: $primary;
    margin-bottom: 36px;

    @media (max-width: $xs) {
      margin-top: 41px;
      font-size: 24px;
      line-height: 28px;
      margin-bottom: 26px;
    }
  }

  .button {
    margin-left: 50%;
    transform: translateX(-50%);
  }
}

.steps-item {
  position: relative;

  @media (max-width: $lg) {
    width: 31%;
  }

  @media (max-width: $md) {
    width: 29%;
  }

  @media (max-width: $sm) {
    max-width: 100%;
    width: auto;
    margin-top: 40px;
  }

  &__bg {

    img {
      max-width: 100%;
    }
  }

  &__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  &__name {
    margin-top: 44px;
    font-family: $fontTitle;
    font-weight: bold;
    font-size: 26px;
    line-height: 39px;
    letter-spacing: 0.01em;
    color: white;
    flex-shrink: 0;
    text-align: center;

    @media (max-width: $xs) {
      font-size: 22px;
      line-height: 33px;
      margin-top: 25px;
    }
  }

  &__description {
    margin-top: 12px;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0.5px;
    color: $grey;
    text-align: center;

    @media (max-width: $xs) {
      margin-top: 15px;
      font-size: 14px;
      line-height: 23px;
    }
  }
}