.top {
  position: relative;
  padding: 267px 0 186px;
  overflow: hidden;

  @media (max-width: $md) {
    padding-bottom: 0;
  }

  @media (max-width: $sm) {
    padding-top: 0;
  }

  &__left {
    position: absolute;
    bottom: -44px;
    left: 0;

    @media (max-width: $sm) {
      display: none;
    }
  }

  &__img {
    position: absolute;
    top: 0;
    right: calc((100vw - 1400px) / 2 - 165px);
    pointer-events: none;

    @media (max-width: $lg) {
      right: calc((100vw - 1140px) / 2 - 400px);
    }

    @media (max-width: $md) {
      right: calc((100vw - 932px) / 2 - 600px);
    }

    @media (max-width: $sm) {
      position: relative;
      right: 0;
      transform: translateX(-70%);

      img {
        max-width: 180%;
      }
    }
  }

  &__content {
    position: relative;

    @media (max-width: $sm) {
      margin-top: -380px;
    }

    @media (max-width: $xs) {
      margin-top: -150px;
    }
  }

  &__title {
    font-family: $fontTitle;
    font-weight: bold;
    font-size: 68px;
    line-height: 102px;
    letter-spacing: 1px;

    @media (max-width: $xs) {
      font-size: 33px;
      line-height: 49px;
    }
  }

  &__subtitle {
    font-family: $fontTitle;
    font-weight: 600;
    font-size: 50px;
    line-height: 75px;
    letter-spacing: 1px;
    color: $white;

    @media (max-width: $xs) {
      font-size: 24px;
      line-height: 36px;
    }
  }

  .text {
    max-width: 565px;
    margin-top: 21px;
    margin-bottom: 45px;

    @media (max-width: $xs) {
      margin-top: 8px;
      max-width: 276px;
      margin-bottom: 37px;
    }

    & + .button {
      margin-top: 0;
    }
  }
}