footer.footer
    div.container
        div.footer__flex
            div.footer__left
                a.footer__logo(href="")
                    img(src="img/logo.svg" alt="")
                    span BIDGOOD
                div.footer__buttons
                    button.button.button--sign.button--bordered.open-modal(data-modal="#signIn") Sign In
                    button.button.button--sign.open-modal(data-modal="#signUp") Sign Up

            nav.footer-menu
                div.footer-menu__column
                    p.footer-menu__title LEARN

                    div.footer-menu__list
                        a.footer-menu__link(href="") Blog
                        a.footer-menu__link(href="") WiK
                        a.footer-menu__link(href="") FAC

                div.footer-menu__column
                    p.footer-menu__title COMMUNITY

                    div.footer-menu__list
                        a.footer-menu__link(href="") Telegram
                        a.footer-menu__link(href="") Twitter
                        a.footer-menu__link(href="") Facebook

                div.footer-menu__column
                    p.footer-menu__title BLOG

                    div.footer-menu__list
                        a.footer-menu__link(href="") HODL Indices
                        a.footer-menu__link(href="") Custom Indices
                        a.footer-menu__link(href="") Custom Portfolios
                        a.footer-menu__link(href="") Portfolio Rebalancing

        p.footer__copyright © 2020 BIGGOOD, Inc.