header.header
    div.container
        div.header__flex
            div.header__logo
                img(src="img/logo.svg" alt="")
                span BIDGOOD

            button.header__mobile-menu
                span

            nav.header-menu
                a.header-menu__link(href="") WIKI
                a.header-menu__link(href="") TELEGRAM
                a.header-menu__link(href="") BLOG

            div.header__buttons
                button.button.button--sign.button--bordered.open-modal(data-modal="#signIn") Sign In
                button.button.button--sign.open-modal(data-modal="#signUp") Sign Up